body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.header-part {
}

.header-updated {
  font-size: 12px;
}

.header-title {
  font-weight:bold;
  font-size: 14px;
}

.header-number {
  font-size:36px;
  font-weight:bold;
}

.header-diff{
  font-size: 12px;
}

.minibar {
  width:200px;
  height:30px;
}

.minicanvas{
  /*margin:0;*/
  /*padding:0;*/
  /*display:inline !important;*/
  height:30px !important;
  width:200px !important;
}